.root{
   /*  -fx-background-color: #EEAECA;
    -fx-background-color:  radial-gradient(focus-angle 0deg,
    focus-distance 0%,
    center 50% 50%,
    radius 50%,
    #eeaeca 0%,
    #94bbe9 100%
    ); */
     -fx-background-color: #040264;
    -fx-background-color:  radial-gradient(focus-angle 0deg,
    focus-distance 0%,
    center 50% 50%,
    radius 50%,
    #040264 0%,
    #012957 100%
    );
}


.button{
    /* -fx-background-color: rgba(255,200,255,1); */
    -fx-background-color: rgb(86, 72, 216);
    -fx-text-fill: rgba(15,15,15,1);
}
.conv-cont{
    /* -fx-background-color: rgb(75,25,50); */
    -fx-background-color: rgb(50,25,50);
}

.combo{
    -fx-background-color: rgb(86, 72, 216);
    -fx-text-fill: rgba(15,15,15,1);
}
.combo .list-cell{
    -fx-background-color: rgb(86, 72, 216);
    -fx-text-fill: rgba(15,15,15,1);
}